[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "2.31.0"
uvicorn = "0.24.0.post1"
fastapi = {extras = ["all"], version = "*"}
sqlalchemy = "2.0.23"
passlib = "1.7.4"
python-jose = "3.3.0"
alembic = "1.13.0"
psycopg2-binary = "2.9.9"

[dev-packages]

[requires]
python_version = "3.10"
